html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}



body {
    font-family: 'League Spartan', sans-serif;
}

.header-container {
    display: flex; /* делает все дочерние элементы резиновыми, а не инлайновыми или блочными */
    width: 100%; /* ширина элемента */
    height: 900px;
    padding-top: 104px; /* расстояние до верха сайта */
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
    background-color: #F8F8F8;
}

.header-title {
    margin-bottom: 53px; /* внешний отступ внизу элемента до края блока */
    font-size: 24px; /* размер шрифта */
    line-height: 45px;  /* высота строки */
    font-weight: 300; /* жирности шрифта */
}

.header-subtitle {
    margin-bottom: 43px;
    font-size: 250px;
    line-height: 230px;
}

.header-description {
    margin-bottom: 61px;
    font-size: 45px;
    line-height: 61px;
}

.buy-wrapper {
    display: flex;
}

.buy-link {
    display: block;
    width: 278px;
    height: 82px;
    background-color: black;
    color: #ffff;
    text-decoration: none;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
} 

.price {
    width: 300px;
    height: 82px;
    background-color: #ffff;
    color: #272727;
    text-decoration: none;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
} 

.header-img {
    display: block;
    width: 512px;
    margin-left: 30px;
    margin-top: -110px;
}

.popular-title {
    margin-top: 43px;
    text-align: center;
    line-height: 186%;  
    font-size: 24px;
}

.popular-title-models {
    text-align: center;
    line-height: 112.5%;  
    font-size: 72px;
    font-weight: 400;
}

.watch-son22 {
    margin: 0 auto;
    width: 417px;
    margin-bottom: 85px;
}

.watch-son22-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 417px;
    height: 630px;
    background-color: #f8f8f8;
    margin-bottom: 67px;
}

.watch-son22-title {
    font-size: 32px;
    line-height: 30px;  
    margin-bottom: 17px;
    text-align: center;
    font-weight: 400;
}

.watch-son22-description {
    margin-bottom: 150px;
    font-size: 32px;
    line-height: 155%;
    font-weight: 300;
    text-align: center;
}

.watch-sw12 {
    margin: 0 auto;
    width: 417px;
    margin-bottom: 85px;
}

.watch-sw12-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 417px;
    height: 630px;
    background-color: #f8f8f8;
    margin-bottom: 67px;
}

.watch-sw12-title {
    font-size: 32px;
    line-height: 30px;  
    margin-bottom: 17px;
    text-align: center;
    font-weight: 400;
}

.watch-sw12-description {
    margin-bottom: 150px;
    font-size: 32px;
    line-height: 155%;
    font-weight: 300;
    text-align: center;
}

.product-description {
    margin: 0 auto;
    width: 417px;
    margin-bottom: 85px;
    margin-bottom: 100px;
}

.product-description-title {
    text-align: center;
    font-size: 32px;
    line-height: 186%;  
    margin-bottom: 58px;
    font-weight: 400;
}

hr {
    margin-top: -50px; 
    width: 180px; 
    color: #707070; 
    margin-bottom: 50px;
}

.product-description-text {
    font-size: 24px;
    line-height: 170%;
    font-weight: 300;
    text-align: center;    
}

.link-more-detailed {
    color:darkred;
}